:root {
  --roxo: hsl(263, 55%, 52%);
  --azul-acinzentado-escuro: hsl(217, 19%, 35%);
  --azul-negro-escuro: hsl(219, 29%, 14%);
  --branco: hsl(0, 0%, 100%);
  --cinza-claro: hsl(0, 0%, 81%);
  --azul-acinzentado-claro: hsl(210, 46%, 95%);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--azul-acinzentado-claro);
}

.container {
  display: grid;
  height: 100%;
  max-width: 1200px;
  gap: 1.2rem 1.8rem;
  padding: 12rem 2rem;
}

.box {
  border-radius: 10px;
  padding: 1.5rem;
  height: 270px;
  line-height: 1.2rem;
}

.box.daniel {
  color: var(--branco);
  background-color: var(--roxo);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0px right 75px;
}

.box.jonathan {
  color: var(--branco);
  background-color: var(--azul-acinzentado-escuro);
}

.box.jeanette {
  color: var(--azul-acinzentado-escuro);
  background-color: var(--branco);
}

.box.patrick {
  color: var(--branco);
  background-color: var(--azul-negro-escuro);
}

.box.kira {
  color: var(--azul-acinzentado-escuro);
  background-color: var(--branco);
  height: 90.5%;
  align-self: end;
  margin-bottom: 8px;
}

.infos_pessoais {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 30px;
}

.infos_pessoais_textos {
  padding-left: 0.75rem;
}

.testemunho,
.citacao {
  padding-top: 0.8rem;
}

.testemunho {
  display: flex;
  flex-direction: column;
}

.comentario {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4rem;
}

.verificacao {
  opacity: 50%;
}

.citacao p {
  opacity: 70%;
  vertical-align: bottom;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .box.daniel {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .box.jonathan {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
  }

  .box.jeanette {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .box.patrick {
    grid-column: 2 / 4;
    grid-row: 2 / 2;
  }

  .box.kira {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}
